@font-face {
  font-family: 'TT Rounds Neue';
  font-style: normal;
  font-weight: 620;
  font-display: swap;
  src: url('../../public/fonts/ttroundsneue-demibold.woff') format('woff');
}
@font-face {
  font-family: 'TT Rounds Neue';
  font-style: normal;
  font-weight: 420;
  font-display: swap;
  src: url('../../public/fonts/ttroundsneue-regular.woff') format('woff');
}


@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('../../public/fonts/TTFirsNeueTrl-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Firs Neue Trl';
  src: url('../../public/fonts/TTFirsNeueTrl-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

