.pin-file {
  position: relative;
  &__text {
    display: block;
    width: rem(442px);
    height: rem(60px);
    border: 1px solid #E4E4E4;
    border-radius: rem(20px);
    background-color: #FFF;
    padding: rem(18px) rem(18px) rem(18px) rem(72px);
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      box-shadow: 0 0 rem(15px) 0 rgba(0, 0, 0, 0.1);
    }
    @media#{media("<", d)} {
      width: rem(352px);
      height: rem(48px);
      border-radius: rem(12px);
      padding: rem(14px) rem(14px) rem(14px) rem(75px);
    }
    @media#{media("<", m)} {
      width: 100%;
      padding: rem(14px) rem(14px) rem(14px) rem(70px);
    }
  }
  &__inp {
    opacity: 0;
    font-size: 0;
    line-height: 0;
    border: none;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    &::file-selector-button {
      width: 0;
      height: 0;
      opacity: 0;
    }
  }
  &__span {
    font-family: $font;
    font-size: rem(20px);
    line-height: rem(24px);
    font-weight: 600;
    @media#{media("<", d)} {
      font-size: rem(14px);
      line-height: rem(16px);
    }
  }
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 32px;
    width: rem(32px);
    height: rem(32px);
    @media#{media("<", d)} {
      left: 48px;
      width: rem(24px);
      height: rem(24px);
    }
  }
}
