mixin reset
  svg(class=attributes.class xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 48 48' fill='none')
    path(d='M18.15 18.15L29.85 29.85' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M18.15 29.85L29.85 18.15' stroke='#A5B7B3' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin tick
  svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M20 7L14.6093 13.4688C12.4732 16.0322 11.4051 17.3139 10 17.3139C8.59488 17.3139 7.52681 16.0322 5.39067 13.4688L4 11.8' stroke='#62215B' stroke-width='2' stroke-linecap='round')
mixin arrow-bottom
  svg(width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M16 17L11 22M11 22L6 17M11 22L11 10C11 8.93913 11.4214 7.92172 12.1716 7.17157C12.9217 6.42143 13.9391 6 15 6L22 6' stroke='#5C5772' stroke-linecap='round' stroke-linejoin='round')
mixin rotate-left
  svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M9.11008 5.08015C9.98008 4.82015 10.9401 4.65015 12.0001 4.65015C16.7901 4.65015 20.6701 8.53015 20.6701 13.3201C20.6701 18.1101 16.7901 21.9901 12.0001 21.9901C7.21008 21.9901 3.33008 18.1101 3.33008 13.3201C3.33008 11.5401 3.87008 9.88015 4.79008 8.50015' stroke='#747884' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M7.87012 5.32012L10.7601 2.00012' stroke='#747884' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
    path(d='M7.87012 5.32007L11.2401 7.78007' stroke='#747884' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
mixin arrow-down
  svg(width='20' height='20' viewbox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M12.025 4.94181L17.0833 10.0001M17.0833 10.0001L12.025 15.0585M17.0833 10.0001L2.5 10.0001' stroke='#0B1226' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round')
mixin clip
  svg(width='32' height='32' viewbox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
    path(d='M6.04688 15.2857L15.2393 6.09334C17.9729 3.35967 22.4051 3.35967 25.1388 6.09334C27.8724 8.82701 27.8724 13.2592 25.1388 15.9928L14.5322 26.5994C12.7097 28.4219 9.75494 28.4219 7.93249 26.5994C6.11005 24.777 6.11005 21.8222 7.93249 19.9998L18.5391 9.39317C19.4503 8.48195 20.9277 8.48195 21.8389 9.39317C22.7501 10.3044 22.7501 11.7818 21.8389 12.693L12.6465 21.8854' stroke='#0B1226' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

