.delivery {
  $comp: &;
  position: relative;
  color: #0B1226;
  font-family: $font;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: rem(100px);
  padding: rem(60px) 0;
  @media#{media("<", d)} {
    padding: rem(24px) 0;
    row-gap: rem(24px);
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(284px);
    height: rem(100px);
    @media#{media("<", d)} {
      position: relative;
      width: rem(343px);
      height: rem(48px);
      padding-left: rem(56px);
    }
  }
  &__form {
    margin: 0 auto;
    width: rem(888px);
    display: flex;
    flex-direction: column;
    row-gap: rem(80px);
    @media#{media("<", d)} {
      width: 100%;
      row-gap: rem(24px);
    }
    @media#{media("<", m)} {
      width: 100%;
    }
  }

  &__header {
    position: relative;
    @media#{media("<", d)} {
      width: rem(720px);
      margin: 0 auto;
      display: flex;flex-direction: column;
      row-gap: rem(16px);
    }
    @media#{media("<", m)} {
      width: 100%;
      margin: 0;
    }
  }
  &__h1 {
    position: relative;
    width: rem(888px);
    margin: 0 auto;
    font-family: $font;
    font-size: rem(60px);
    line-height: rem(60px);
    letter-spacing: -4%;
    font-weight: 600;
    color: #0B1226;
    @media#{media("<", d)} {
      width: 100%;
      font-size: rem(32px);
      line-height: rem(32px);
    }
    @media#{media("<", m)} {
      width: 100%;
      font-size: rem(24px);
      line-height: rem(28px);
    }
  }
  &__h2 {
    position: relative;
    font-family: $font;
    font-size: rem(32px);
    line-height: rem(38px);
    letter-spacing: -2%;
    font-weight: 600;
    color: #0B1226;
    padding-top: rem(24px);
    border-top: rem(1px) solid #E4E4E4;
    &_blue {
      display: inline-block;
      margin-left: rem(10px);
      color: #0070B8;
    }
    @media#{media("<", d)} {
      padding: rem(16px) 0 0 0;
      font-size: rem(20px);
      line-height: rem(24px);
      &_padd {
        padding: rem(16px) 0 rem(36px) 0;
      }
    }
  }

  &__clean {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    align-self: center;
    column-gap: rem(8px);
    font-family: $font;
    font-size: rem(20px);
    line-height: rem(24px);
    letter-spacing: -1%;
    font-weight: 600;
    color: #747884;
    cursor: pointer;
    svg {
      width: rem(24px);
      height: rem(24px);
    }
    @media#{media("<", d)} {
      top: auto;
      bottom: 0;
      transform: translateY(0);
      right: auto;
      left: 0;
      font-size: rem(16px);
      line-height: rem(19px);
      color: #747884;
      svg {
        width: rem(16px);
        height: rem(16px);
      }
    }
  }

  &__textarea {
    width: 100%;
    height: rem(160px);
    padding: rem(24px) rem(40px);
    font-family: $font;
    font-size: rem(24px);
    line-height: rem(38px);
    letter-spacing: -1%;
    font-weight: 400;
    color: #0B1226;
    border: 1px solid #E4E4E4;
    border-radius: rem(20px);
    resize: none;
    background-color: #F5F5F5;
    &::placeholder {
      font-family: $font;
      font-size: rem(24px);
      line-height: rem(38px);
      letter-spacing: -1%;
      font-weight: 400;
      color: #747884;
    }
    @media#{media("<", d)} {
      height: rem(128px);
      padding: rem(16px) rem(20px);
      font-size: rem(16px);
      line-height: rem(25px);
      &::placeholder {
        font-size: rem(16px);
        line-height: rem(25px);
      }
    }
    @media#{media("<", m)} {
      height: rem(154px);
    }
  }

  //radio-tab
  &__tabs {
    display: flex;
    flex-direction: column;
    row-gap: rem(40px);
    @media#{media("<", d)} {
      row-gap: rem(24px);
    }
  }
  &__tab-block {
    display: none;
    margin-top: -40px;
    &_active {
      display: block;
      margin-top: 0;
    }
  }

  &__tab-content {
    display: none;
    &_active {
      display: block;
    }
  }
  &__radios {
    display: flex;
    column-gap: rem(20px);
    @media#{media("<", d)} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: rem(16px);
    }
    @media#{media("<", m)} {
      grid-template-columns: 1fr;
      grid-row-gap: rem(12px);
    }
  }
  &__radio {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    justify-content: start;
    border-radius: rem(20px);
    border: 1px solid #E4E4E4;
    padding: rem(12px) rem(20px) rem(15px) rem(68px);
    background: #FFF;
    height: rem(62px);
    transition: all 0.4s ease;
    &_active {
      border: 1px solid #0070B8;
      background: #0070B8;
      color: #fff;
      #{$comp}__rad-label {
        color: #fff;
      }
      #{$comp}__rad-check {
        border: rem(6px) solid #fff;
        background: #0070B8;
      }
    }
    @media#{media("<", d)} {
      border-radius: rem(12px);
      padding: rem(10px) rem(10px) rem(10px) rem(52px);
      height: rem(45px);
    }
  }
  &__rad-input {
    display: none;
  }
  &__rad-label {
    font-family: $font;
    font-size: rem(24px);
    line-height: rem(28px);
    font-weight: 400;
    color: #0B1226;
    cursor: pointer;
    transition: all 0.4s ease;
    @media#{media("<", d)} {
      font-size: rem(18px);
      line-height: rem(24px);
    }
  }
  &__rad-check {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: rem(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(32px);
    height: rem(32px);
    border-radius: 50%;
    border: rem(2px) solid #E4E4E4;
    background: #fff;
    flex-shrink: 0;
    transition: all 0.4s ease;
    @media#{media("<", d)} {
      left: rem(16px);
      width: rem(24px);
      height: rem(24px);
    }
  }





  &__elem {
    position: relative;
    padding-left: rem(48px);
    @media#{media("<", d)} {
      padding-left: rem(36px);
    }
  }
  &__input {
    display: none;
  }

  &__pict {
    position: absolute;
    top: rem(5px);
    left: 0;
    display: flex;
    justify-content: center;
    width: rem(32px);
    height: rem(32px);
    border-radius: 50%;
    border: rem(2px) solid #E4E4E4;
    background: #fff;
    flex-shrink: 0;
    transition: border 0.2s ease;
    box-sizing: border-box;
    @media#{media("<", d)} {
      top: rem(2px);
      width: rem(24px);
      height: rem(24px);
    }
  }
  &__elem input:checked ~ &__pict {
    border: rem(8px) solid #0070B8;
    @media#{media("<", d)} {
      border: rem(5px) solid #0070B8;
    }
  }
  &__elem-text {
    font-family: $font;
    font-size: rem(24px);
    line-height: rem(38px);
    font-weight: 400;
    color: #0B1226;
    @media#{media("<", d)} {
      font-size: rem(16px);
      line-height: rem(25px);
    }
  }


  //checkbox
  &__form-checkbox {
    padding: 0;
    display: flex;
    position: relative;
    cursor: pointer;
    gap: rem(12px);
    align-items: center;
    justify-content: start;
    font-family: $font;
    font-size: rem(16px);
    line-height: rem(19px);
    font-weight: 400;
    color: #747884;
    @media #{media('>',d)} {

    }

  }
  &__form-checkbox input {
    display: none;
  }
  &__check-label {
    font-family: $font;
    font-size: rem(16px);
    line-height: rem(19px);
    font-weight: 400;
    color: #747884;
    @media#{media("<", d)} {
      font-size: rem(14px);
    }
  }
  &__policy {
    display: inline-flex;
    margin-left: rem(8px);
    font-family: $font;
    font-size: rem(16px);
    line-height: rem(19px);
    font-weight: 400;
    color: #0070B8;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid currentColor;
    }
    @media#{media("<", d)} {
      display: inline;
      margin-left: rem(4px);
      font-size: rem(14px);
      line-height: rem(19px);
    }
  }
  &__checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(32px);
    height: rem(32px);
    border-radius: rem(8px);
    border: rem(2px) solid #E4E4E4;
    background: #fff;
    flex-shrink: 0;
    transition: all 0.6s ease-in-out;
    svg {
      flex-shrink: 0;
      opacity: 0;
      transition: all 0.6s ease-in-out;
      height: rem(20px);
      width: rem(20px);
    }
    svg > * {
      stroke: #0B1226;
    }
    @media#{media("<", d)} {
      width: rem(24px);
      height: rem(24px);
      border: rem(1px) solid #E4E4E4;
      svg {
        height: rem(16px);
        width: rem(16px);
      }
    }
  }
  &__form-checkbox input:checked ~ &__checkmark {
    svg {
      opacity: 1;
    }
  }


  &__info {
    font-family: $font;
    font-size: rem(20px);
    line-height: rem(24px);
    letter-spacing: -1%;
    font-weight: 400;
    color: #0B1226;
    span {
      color: #0070B8;
    }
    @media#{media("<", d)} {
      font-size: rem(16px);
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    row-gap: rem(40px);
    margin-bottom: rem(40px);
    @media#{media("<", d)} {
      row-gap: rem(20px);
      margin-bottom: rem(20px);
    }
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    row-gap: rem(40px);
  }
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(12px);
  }
  &__cust-data {
    display: flex;
    flex-direction: column;
    row-gap: rem(20px);
  }

  //input type text
  &__main-inp {
    width: 100%;
    height: rem(80px);
    padding: rem(24px) rem(40px);
    font-family: $font;
    font-size: rem(24px);
    line-height: rem(38px);
    letter-spacing: -1%;
    font-weight: 400;
    color: #0B1226;
    border: 1px solid #E4E4E4;
    border-radius: rem(20px);
    resize: none;
    background-color: #F5F5F5;
    &::placeholder {
      font-family: $font;
      font-size: rem(24px);
      line-height: rem(38px);
      letter-spacing: -1%;
      font-weight: 400;
      color: #747884;
    }
    @media#{media("<", d)} {
      height: rem(48px);
      padding: rem(11px) rem(16px);
      font-size: rem(16px);
      line-height: rem(25px);
      border-radius: rem(12px);
      &::placeholder {
        font-size: rem(16px);
        line-height: rem(25px);
      }
    }
  }

  hr {
    width: 100%;
  }





}
